<div class="widgets">
  <a class="button main add" [class.adding]="model.adding" (click)="model.startAdd()"><i class="icon-add"></i>Add new widget</a>        
  <h2>Widgets</h2>

  <div class="row loading" *ngIf="!model.loaded">
    <div colspan="3">
      <i class="status icon-spinner animate-spin"></i>Loading...
    </div>
  </div>
  <div *ngIf="model.loaded">
    <div class="row add" *ngIf="model.adding">
      <div class="col name">
        <input type="text" placeholder="Widget name"
                [value]="model.adding.name" (change)="model.adding.name = $event.target.value" (keyup)="model.adding.name = $event.target.value" />
      </div>
      <div class="col price">
        &pound;
        <input type="text" class="number" placeholder="Price"
                [value]="model.adding.price" (change)="model.adding.price = $event.target.value" (keyup)="model.adding.price = $event.target.value" />
      </div>
      <div class="col action">
        <a class="button main" (click)="model.confirmAdd()"><i class="icon-ok"></i>Done</a>
        <a class="cancel" (click)="model.cancelAdd()"><i class="icon-cancel"></i></a>
      </div>
    </div>
    <div class="row" *ngIf="!model.adding && !model.widgets.length">
      <div colspan="3">
        There are no widgets.
      </div>
    </div>
    <div class="row" *ngFor="let w of model.widgets" [ngClass]="{
          'adding': w.action == 'add',
          'deleting': w.action == 'delete',
          'in-progress': w.action == 'add' && w.status == 'inProgress',
          'success': w.action == 'add' && w.status == 'success',
          'error': w.action == 'add' && w.status == 'error',
          'fadeout': w.status == 'done' && (w.action == 'add' || w.action == 'delete' && model.widgets.length == 1)
        }">
      <div class="col name">
        <div class="editable" (click)="w.startEditName()" *ngIf="!w.isEditingName">
          <span>{{w.name}}</span>
        </div>
        <div class="editing" *ngIf="w.isEditingName">
          <input type="text" [value]="w.name" [value]="w.editingName" (change)="w.editingName = $event.target.value" (keyup)="w.editingName = $event.target.value" />
          <a class="button main" (click)="w.confirmEditName()"><i class="icon-ok"></i>Done</a>
          <a class="cancel" (click)="w.cancelEditName()"><i class="icon-cancel"></i></a>
        </div>
      </div>
      <div class="col price">
        <div class="editable" (click)="w.startEditPrice()" *ngIf="!w.isEditingPrice">
          <span>&pound;{{w.price.toFixed(2)}}</span>
        </div>
        <div class="editing" *ngIf="w.isEditingPrice" [ngClass]="{success: w.status == 'success', 'error': w.status == 'error'}">
          &pound;
          <input type="text" class="number" [value]="w.editingPrice" (change)="w.editingPrice = $event.target.value" (keyup)="w.editingPrice = $event.target.value" />
          <a class="button main" *ngIf="!w.status" (click)="w.confirmEditPrice()"><i class="icon-ok"></i>Done</a>
          <a class="cancel" *ngIf="!w.status" (click)="w.cancelEditPrice()"><i class="icon-cancel"></i></a>
          <status-indicator actionName="Edit" retryIcon="ok"
                            *ngIf="w.editingPrice"
                            [status]="w.status"
                            [errorMessage]="w.errorMessage"
                            (retry)="w.confirmEditPrice()"
                            (cancel)="w.cancelEditPrice()">
          </status-indicator>
        </div>
      </div>
      <div class="col action">
        <span *ngIf="!w.status || w.action == 'edit' || (w.action == 'add' && w.status == 'done')">
          <a class="button main" (click)="w.delete()"><i class="icon-trash"></i>Delete</a>
        </span>
        <status-indicator actionName="Add" retryIcon="add"
                          *ngIf="w.action == 'add'"
                          [status]="w.status"
                          [errorMessage]="w.errorMessage"
                          (retry)="w.retryAdd()"
                          (cancel)="w.abandonAdd()">
        </status-indicator>
        <status-indicator actionName="Delete" retryIcon="trash"
                          *ngIf="w.action == 'delete'"
                          [status]="w.status"
                          [errorMessage]="w.errorMessage"
                          (retry)="w.delete()"
                          (cancel)="w.abandonDelete()">
        </status-indicator>
      </div>
    </div>
  </div>
</div>