@success: #7b8;
@successBackground: lighten(desaturate(@success, 5%), 30%);
@error: #d00;
@errorBackground: lighten(desaturate(@error, 30%), 45%);
@formBackground: #d5e4ed;
@buttonMainColor: #337ab7;
@buttonColor: lighten(desaturate(@buttonMainColor, 50%), 20%);

.button {
  border-radius: 4px;
  text-decoration: none;
  color: white;
  padding: 1px 3px 1px 1px;
  cursor: pointer;

  background: @buttonColor;
  border: 1px solid darken(@buttonColor, 10%);
  
  &:hover {
    background: lighten(@buttonColor, 5%);
    border-color: @buttonColor;
  }

  &.main {
    background: @buttonMainColor;
    border: 1px solid darken(@buttonMainColor, 10%);

    &:hover {
     background: lighten(@buttonMainColor, 10%);
     border-color: @buttonMainColor;
    } 
  }

  &.add {
    margin: 5px;
    margin-bottom: 10px;

    float: right; 
    &.adding {
      visibility: hidden;
    }
  }
}

a {
  text-decoration: underline;
  color: @buttonMainColor;
  cursor: pointer;

  &.cancel {
    color: @buttonColor;
  }

  .icon-add {
    &:before {
      margin-top: 2px;
      margin-left: 2px;
    }
  }
}

input {
  border: 1px solid #ddd;
  padding: 2px 3px;
  font-size: 1em;
  border-radius: 3px;
  margin-left: -4px;

  &.full {
    width: 100%;
  }

  &.number {
    width: 50px;
  }
}

.editable {
  cursor: pointer;
  
  span {
    border-bottom: 1px dashed #bbb;
  }

  &::after {
    content: '\e807';
    color: #bbb;
    font-size: 0.8em;

    // from fontello:
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
  
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
  
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
  
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &:hover {
    color: @buttonMainColor;

    span {
      border-color: @buttonMainColor;
    }

    &::after {
      color: @buttonMainColor;
    }
  }
}

.editing {
  background: @formBackground;
  display: inline;
  padding: 5px 5px 5px 7px;
  position: relative;
  top: 2px;
  left: -2px;

  a.cancel {
    margin: 0;
  }
}

.widgets {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  max-width: 800px;

  .row {
    background-color: #fff;

    &:nth-child(2n+1) {
      background-color: #eee;
    }

    display: flex;
    padding: 5px;

    .col {
      .editable {
        padding: 5px;
      }

      .editing {
      }

      &.name {
        width: 50%;
      }

      &.price {
        width: 20%;
        min-width: 200px;

        .editing {
          padding-left: 4px;
          left: -4px;

          input {
            margin-left: -2px;
          }
        }
      }

      &.action {
        text-align: right;
        width: 30%;
        padding: 5px 0 5px 0;

        .status {
          &.icon-spinner {
            color: #aaa;
          }

          &.icon-ok {
            color: @success;
          }

          &.icon-attention {
            color: @error;
            cursor: help;
          }
        }

        .fail {
          color: @error;
          margin-right: 10px;
          cursor: help;
        }
      }
    }

    &.in-progress {
      color: #aaa;
    }

    &.success {
      background-color: lighten(@successBackground, 5%);

      &:nth-child(2n+1) {
        background: @successBackground;
      }
    }

    &.error {
      background-color: lighten(@errorBackground, 5%);
      
      &:nth-child(2n+1) {
        background: @errorBackground;
      }
    }

    .fadeout {
      background-color: #fff;

      &:nth-child(2n+1) {
        background-color: #eee;
      }

      transition: background-color 0.25s ease;

      .status {
        opacity: 0;
        transition: opacity 0.25s ease;
      }
    }

    &.add {
      background-color: @formBackground;

      .col {
        padding: 2px 5px;

        &.price {
          padding-left: 5px;
        }

        &.action {
          padding: 5px 0 5px 0;
        }
      }
    }

    &.loading {
      i {
        margin-right: 5px;
        color: #555;
      }
    }
  }
}