<div class="widgets">
  <a class="button main add" [class.adding]="model.adding" (click)="model.startAdd()"><i class="icon-add"></i>Add new widget</a>        
  <h2>Widgets</h2>

  <div class="row loading" *ngIf="!model.loaded">
    <div colspan="3">
      <i class="status icon-spinner animate-spin"></i>Loading...
    </div>
  </div>
  <div *ngIf="model.loaded">
    <div class="row add" *ngIf="model.adding">
      <div class="name">
        <input type="text" class="full" placeholder="Widget name"
                [value]="model.adding.name" (change)="model.adding.name = $event.target.value" (keyup)="model.adding.name = $event.target.value" />
      </div>
      <div class="price">
        &pound;
        <input type="text" class="number" placeholder="Price"
                [value]="model.adding.price" (change)="model.adding.price = $event.target.value" (keyup)="model.adding.price = $event.target.value" />
      </div>
      <div class="action">
        <a class="button main" (click)="model.confirmAdd()"><i class="icon-ok"></i>Add widget</a>
        <a class="cancel" (click)="model.cancelAdd()"><i class="icon-cancel"></i></a>
      </div>
    </div>
    <div class="row" *ngIf="!model.adding && !model.widgets.length">
      <div colspan="3">
        There are no widgets.
      </div>
    </div>
    <div class="row" *ngFor="let w of model.widgets" [ngClass]="{
          'adding': w.action == 'add',
          'deleting': w.action == 'delete',
          'in-progress': w.status == 'inProgress',
          'success': w.status == 'success',
          'error': w.status == 'error',
          'fadeout': w.status == 'done' && (w.action == 'add' || w.action == 'delete' && model.widgets.length == 1)
        }">
      <div class="name">{{w.name}}</div>
      <div class="price">&pound;{{w.price.toFixed(2)}}</div>
      <div class="action">
        <span *ngIf="!w.status || (w.action == 'add' && w.status == 'done')">
          <a class="button main" (click)="w.delete()"><i class="icon-trash"></i>Delete</a>
        </span>
        <span *ngIf="w.status">
          <i *ngIf="w.status == 'inProgress'" class="status icon-spinner animate-spin"></i>
          <i *ngIf="w.status == 'success'" class="status icon-ok"></i>
          <span *ngIf="w.status == 'error' && w.action == 'add'">
            <abbr class="fail" [title]="w.errorMessage"><i class="status icon-attention"></i>Add failed</abbr>
            <a class="button main" (click)="w.retryAdd()"><i class="icon-add"></i>Retry</a>
            <a class="cancel" (click)="w.abandonAdd()"><i class="icon-cancel"></i></a>
          </span>
          <span *ngIf="w.status == 'error' && w.action == 'delete'">
            <abbr class="fail" [title]="w.errorMessage"><i class="status icon-attention"></i>Delete failed</abbr>
            <a class="button main" (click)="w.delete()"><i class="icon-trash"></i>Retry</a>
            <a class="cancel" (click)="w.abandonDelete()"><i class="icon-cancel"></i></a>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>