<div class="widgets">
  <a class="button main add" [class.adding]="model.adding" (click)="model.startAdd()"><i class="icon-add"></i>Add new widget</a>        
  <h2>Widgets</h2>

  <div class="row loading" *ngIf="!model.loaded">
    <div colspan="3">
      <i class="status icon-spinner animate-spin"></i>Loading...
    </div>
  </div>
  <div *ngIf="model.loaded">
    <div class="row add" *ngIf="model.adding">
      <div class="col name">
        <input type="text" placeholder="Widget name"
                [value]="model.adding.name" (change)="model.adding.name = $event.target.value" (keyup)="model.adding.name = $event.target.value" />
      </div>
      <div class="col price">
        &pound;
        <input type="text" class="number" placeholder="Price"
                [value]="model.adding.price" (change)="model.adding.price = $event.target.value" (keyup)="model.adding.price = $event.target.value" />
      </div>
      <div class="col action">
        <a class="button main" (click)="model.confirmAdd()"><i class="icon-ok"></i>Done</a>
        <a class="cancel" (click)="model.cancelAdd()"><i class="icon-cancel"></i></a>
      </div>
    </div>
    <div class="row" *ngIf="!model.adding && !model.widgets.length">
      <div colspan="3">
        There are no widgets.
      </div>
    </div>
    <div class="row" *ngFor="let w of model.widgets" [ngClass]="{
          'adding': w.add.status,
          'deleting': w.delete.status,
          'in-progress': w.add.isInProgress || w.delete.isInProgress,
          'success': w.add.isSuccess || w.delete.isSuccess,
          'error': w.add.isError || w.delete.isError,
          'fadeout': w.add.isDone || (w.delete.isDone && model.widgets.length == 1)
        }">
      <div class="col name">
        <div class="editable" (click)="w.name.start()" *ngIf="!w.name.editing">
          <span>{{w.name.value}}</span>
        </div>
        <div class="editing" *ngIf="w.name.editing" [ngClass]="{success: w.name.isSuccess, 'error': w.name.isError}">
          <input type="text" [value]="w.name.editingValue" (change)="w.name.editingValue = $event.target.value" (keyup)="w.name.editingValue = $event.target.value" />
          <a class="button main" *ngIf="!w.name.status" (click)="w.name.confirm()"><i class="icon-ok"></i>Done</a>
          <a class="cancel" *ngIf="!w.name.status" (click)="w.name.cancel()"><i class="icon-cancel"></i></a>
          <status-indicator actionName="Edit" retryIcon="ok"
                            [model]="w.name">
          </status-indicator>
        </div>
      </div>
      <div class="col price">
        <div class="editable" (click)="w.price.start()" *ngIf="!w.price.editing">
          <span>&pound;{{w.price.value.toFixed(2)}}</span>
        </div>
        <div class="editing" *ngIf="w.price.editing" [ngClass]="{success: w.price.isSuccess, 'error': w.price.isError}">
          &pound;
          <input type="text" class="number" [value]="w.price.editingValue" (change)="w.price.editingValue = $event.target.value" (keyup)="w.price.editingValue = $event.target.value" />
          <a class="button main" *ngIf="!w.price.status" (click)="w.price.confirm()"><i class="icon-ok"></i>Done</a>
          <a class="cancel" *ngIf="!w.price.status" (click)="w.price.cancel()"><i class="icon-cancel"></i></a>
          <status-indicator actionName="Edit" retryIcon="ok"
                            [model]="w.price">
          </status-indicator>
        </div>
      </div>
      <div class="col action">
        <span *ngIf="!w.add.status && !w.delete.status">
          <a class="button main" (click)="w.delete.confirm()"><i class="icon-trash"></i>Delete</a>
        </span>
        <status-indicator actionName="Add" retryIcon="add"
                          [model]="w.add">
        </status-indicator>
        <status-indicator actionName="Delete" retryIcon="trash"
                          [model]="w.delete">
        </status-indicator>
      </div>
    </div>
  </div>
</div>