@import "../styles.less";

.editable {
  cursor: pointer;
  
  span {
    border-bottom: 1px dashed #bbb;
  }

  &::after {
    content: '\e807';
    color: #bbb;
    font-size: 0.8em;

    // from fontello:
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
  
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
  
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
  
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &:hover {
    color: @buttonMainColor;

    span {
      border-color: @buttonMainColor;
    }

    &::after {
      color: @buttonMainColor;
    }
  }
}

.editing {
  background: @formBackground;
  display: inline;
  padding: 5px 5px 5px 7px;
  padding: 10px 5px 10px 10px;//5px 5px 5px 7px;
  position: relative;
  top: 2px;
  left: -5px;

  &.success {
    background: @successBackground;
  }

  &.error {
    background: @errorBackground;
  }
}

.widgets {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  max-width: 800px;

  .row {
    background-color: #fff;

    &:nth-child(2n+1) {
      background-color: #eee;
    }

    display: flex;
    padding: 5px;

    .col {
      .editable {
        padding: 5px;
      }

      .editing {
      }

      &.name {
        width: 50%;
      }

      &.price {
        width: 20%;
        min-width: 200px;

        .editing {
          padding-left: 4px;
          left: -4px;

          input {
            margin-left: -2px;
          }
        }
      }

      &.action {
        text-align: right;
        width: 30%;
        padding: 5px 0 5px 0;
      }
    }

    &.in-progress {
      color: #aaa;
    }

    &.success {
      background-color: lighten(@successBackground, 5%);

      &:nth-child(2n+1) {
        background: @successBackground;
      }
    }

    &.error {
      background-color: lighten(@errorBackground, 5%);
      
      &:nth-child(2n+1) {
        background: @errorBackground;
      }
    }

    .fadeout {
      background-color: #fff;
      background: red;

      &:nth-child(2n+1) {
        background-color: #eee;
      background: red;
      }

      transition: background-color 0.25s ease;
    }

    &.add {
      background-color: @formBackground;

      .col {
        padding: 2px 5px;

        &.price {
          padding-left: 5px;
        }

        &.action {
          padding: 5px 0 5px 0;
        }
      }
    }

    &.loading {
      padding: 10px 5px;

      i {
        margin-right: 5px;
        color: #555;
      }
    }

    &.empty {
      padding: 10px 5px;
    }
  }
}