<div class="packs">
  <a class="button main add" [class.adding]="model.adding" (click)="model.startAdd()"><i class="icon-edit-1"></i>Create pack</a>        
  <h2>Packs</h2>

  <div class="row loading" *ngIf="!model.loaded">
    <div colspan="3">
      <i class="status icon-spinner animate-spin"></i>Loading...
    </div>
  </div>
  <div *ngIf="model.loaded">
    <div class="row add" *ngIf="model.adding">
      <div class="col name">
        <input type="text" placeholder="Widget name"
                [(ngModel)]="model.adding.name" />
      </div>
      <div class="col price">
        &pound;
        <input type="text" class="number" placeholder="Price"
                [(ngModel)]="model.adding.price" />
      </div>
      <div class="col action">
        <a class="button main" (click)="model.confirmAdd()"><i class="icon-ok"></i>Done</a>
        <a class="cancel" (click)="model.cancelAdd()"><i class="icon-cancel"></i></a>
      </div>
    </div>
    <div class="row empty" *ngIf="!model.adding && !model.packs.length">
      <div>
        There are no packs.
      </div>
    </div>
    <div class="row" *ngFor="let p of model.packs" [ngClass]="{
          'adding': p.add.status,
          'deleting': p.delete.status,
          'in-progress': p.add.isInProgress || p.delete.isInProgress,
          'success': p.add.isSuccess || p.delete.isSuccess,
          'error': p.add.isError || p.delete.isError
        }">
      <div class="line">
        <div class="col name">
          <editable-text [model]="p.name" [required]="true" valueName="Pack name"></editable-text>
        </div>
        <div class="col price">
          <editable-price [model]="p.price"></editable-price>
        </div>
        <div class="col action">
          <button class="button main" [disabled]="p.isReadOnly" (click)="p.delete.confirm()"
                  *ngIf="!p.add.status && !p.delete.status">
            <i class="icon-trash"></i>Delete
          </button>
          <button class="button main" [disabled]="p.isReadOnly || !p.remainingWidgets.length" (click)="p.startAddWidget()"
                  *ngIf="!p.add.status && !p.delete.status">
            <i class="icon-add"></i>Add widget
          </button>
          <status-indicator [model]="p.add">
          </status-indicator>
          <status-indicator [model]="p.delete">
          </status-indicator>
        </div>
      </div>
      <div class="widgets">
        <div class="line add" *ngIf="p.adding">
          <div class="col name">
            <select [(ngModel)]="p.adding.id">
              <option *ngFor="let o of p.adding.options" [value]="o.id">{{o.name}}</option>
            </select>
          </div>
          <div class="col quantity">
            <input type="text" class="number"
                   [(ngModel)]="p.adding.quantity" />
          </div>
          <div class="col action">
            <a class="button main" (click)="p.confirmAddWidget()"><i class="icon-ok"></i>Done</a>
            <a class="cancel" (click)="p.cancelAddWidget()"><i class="icon-cancel"></i></a>
          </div>
        </div>
        <div class="line empty" *ngIf="!p.adding && !p.widgets.length">
          This pack doesn't have any widgets yet.
        </div>
        <div class="line" *ngFor="let w of p.widgets" [ngClass]="{
            'success': w.add.isSuccess || w.remove.isSuccess,
            'error': w.add.isError || w.remove.isError
          }">
          <div class="col name" [class.read-only]="w.isReadOnly">
            {{w.name}}
          </div>
          <div class="col quantity">
            <editable-quantity [model]="w.quantity"></editable-quantity>
          </div>
          <div class="col action">
            <button class="button main" [disabled]="w.isReadOnly"
                    *ngIf="!w.add.status && !w.remove.status" (click)="w.remove.confirm()">
              <i class="icon-minus"></i>Remove
            </button>
            <status-indicator [model]="w.add">
            </status-indicator>
            <status-indicator [model]="w.remove">
            </status-indicator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>