<span *ngIf="model.status">
  <i *ngIf="model.isInProgress" class="status icon-spinner animate-spin"></i>
  <i *ngIf="model.isSuccess" class="status icon-ok"></i>
  <span *ngIf="model.isError">
    <abbr class="fail" [title]="model.errorMessage"><i class="status icon-attention"></i></abbr>
    <button class="button main" (click)="model.retry()" [disabled]="retryDisabled"><i class="icon-cw"></i>Retry</button>
    <a class="cancel" (click)="model.abandon()"><i class="icon-cancel"></i></a>
  </span>
</span>