<div class="widgets">
  <a class="button main add" [class.adding]="model.adding" (click)="model.startAdd()"><i class="icon-add"></i>Add new widget</a>        
  <h2>Widgets</h2>

  <div class="row loading" *ngIf="!model.loaded">
    <div colspan="3">
      <i class="status icon-spinner animate-spin"></i>Loading...
    </div>
  </div>
  <div *ngIf="model.loaded">
    <div class="row add" *ngIf="model.adding">
      <div class="col name">
        <input type="text" placeholder="Widget name"
                [(ngModel)]="model.adding.name" />
      </div>
      <div class="col price">
        &pound;
        <input type="text" class="number" placeholder="Price"
                [(ngModel)]="model.adding.price" />
      </div>
      <div class="col action">
        <a class="button main" (click)="model.confirmAdd()"><i class="icon-ok"></i>Done</a>
        <a class="cancel" (click)="model.cancelAdd()"><i class="icon-cancel"></i></a>
      </div>
    </div>
    <div class="row empty" *ngIf="!model.adding && !model.widgets.length">
      <div colspan="3">
        There are no widgets.
      </div>
    </div>
    <div class="row" *ngFor="let w of model.widgets" [ngClass]="{
          'adding': w.add.status,
          'deleting': w.delete.status,
          'in-progress': w.add.isInProgress || w.delete.isInProgress,
          'success': w.add.isSuccess || w.delete.isSuccess,
          'error': w.add.isError || w.delete.isError,
          'fadeout': w.add.isDone || (w.delete.isDone && model.widgets.length == 1)
        }">
      <div class="col name">
        <editable-text [model]="w.name"></editable-text>
      </div>
      <div class="col price">
        <editable-price [model]="w.price"></editable-price>
      </div>
      <div class="col action">
        <button class="button main" [disabled]="w.isReadOnly" (click)="w.delete.confirm()"
                *ngIf="!w.add.status && !w.delete.status">
          <i class="icon-trash"></i>Delete
        </button>
        <status-indicator actionName="Add" retryIcon="add"
                          [model]="w.add">
        </status-indicator>
        <status-indicator actionName="Delete" retryIcon="trash"
                          [model]="w.delete">
        </status-indicator>
      </div>
    </div>
  </div>
</div>